
*.pyc
src/RoboSpection_code/.ipynb_checkpoints/*
src/RoboSpection_code/VI_appdata/Saved_coordinates/*
src/RoboSpection_code/__pycache__/*
src/RoboSpection_code/VI_appdata/Saved_coordinates_phy/*
src/RoboSpection_code/faster-whisper-small.en/
.catkin_tools
build/
devel/
logs/
.catkin_workspace
src/moveit/
src/moveit_resources/
src/moveit_tutorials/
src/moveit_visual_tools/
src/panda_moveit_config/
src/RVizMeshVisualizer/
kokoro/
__pycache__/
.ipynb_checkpoints/

